<div [ngClass]="{'smeup-comp': isSmeupComp}">
    <div *ngIf="isSmeupComp">
        <div [ngSwitch]="comp.type">
            <div *ngSwitchCase="'MAT'">MATRIX Component</div>
            <div *ngSwitchDefault>Unknown Component: {{comp.type}}</div>
        </div>
    </div>
    <div class="container" [ngClass]="{'row-flex-direction': comp.direction==='ROW','column-flex-direction': comp.direction==='COLUMN'}">
        <div *ngFor="let child of comp.comps" class="item">
            <su-comp [comp]='child'></su-comp>
        </div>
    </div>
</div>